@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --background: #f5f3f7;
  --border-phone:#ffffff;
  --h: #3e2753;
  --p: #a39da9;
  --right-bubble: ##ffffff;
  --right-text: #6e5d7e;
  --left-bubble: #ede5f4;
  --left-text: #9241c8;
}

*{
  box-sizing: border-box;
  margin: 0px;
}

html{
  overflow-x: hidden;
}

body{
  min-height: 100vh;
  font-family: "Rubik", Sans-Serif;
  background-color: var(--background);
  position: relative;
  user-select: none;
  overflow-x: hidden;
}

h1{
  color: var(--h);
}

p{
  color: var(--p);
}

body::before{
  content: "";
  position: absolute;
  top: 0px;
  left: -40%;
  width: 80%;
  height: 60%;
  z-index: -1;
  background: linear-gradient(-290deg, #883eff, #e15ff2);
  border-bottom-left-radius: 255px;
  border-bottom-right-radius: 255px;
}

body::after{
  content: "";
  position: absolute;
  bottom: -5%;
  right: -40%;
  width: 80%;
  height: 60%;
  z-index: -1;
  background-color: #f9f9fa;
  border-top-left-radius: 255px;
  border-top-right-radius: 255px;
}

.parent{
  position: relative;
  top: 3rem;
}

.phone{
  width: 280px;
  height: 600px;
  position: relative;
  background-color: var(--background);
  margin: auto;
  margin-bottom: 50px;
  border: 10px solid var(--border-phone);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 20px 30px rgba(62, 39, 83, 0.1);
}

.notch{
  position: absolute;
  margin: 0px 19%;
  z-index: 1;
  width: 60%;
  height: 20px;
  background-color: var(--border-phone);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header{
  width: auto;
  height: 15%;
  background: linear-gradient(-290deg, #883eff, #e15ff2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 20px 30px rgba(62, 39, 83, 0.2);
}

.header .information{
  position: relative;
}

.header .information h3{
  color: #fff;
  font-size: 13px;
}

.header .information p{
  font-size: 10px;
}

.header .information .text{
  position: absolute;
  top: 27px;
  left: 60px;
}

.header .information img{
  width: 30px;
  height: 30px;
  margin: 25px 22px  auto;
  border: 2px solid #fff;
  border-radius: 50%;
}

.points{
  width: 3px;
  position: absolute;
  top: 31px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: ;
  flex-direction: column;
}

.points span{
  display: inline-block;
  margin: 1px;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.8;
}

.header .information::before{
  content: "";
  position: absolute;
  top: 32px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-width: 3px;
  border-style: solid;
  border-top: none;
  border-bottom-color: #fff;
  border-right: none;
  border-left-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  transform: rotate(44deg);
}

.my-chat img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
}

.chat p{
  width: 20ch;
  padding: 5px;
  margin: 10px 10px 10px;
  border-radius: 10px;
  border-bottom-left-radius: 4px;
  background-color: var(--left-bubble);
  color: var(--left-text);
  font-size: 10px;
  text-align: ;
}

.my-chat{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.my-chat p{
  background-color: var(--right-bubble);
  color: var(--right-text);
  box-shadow: 5px 5px 30px rgba(62, 39, 83, 0.1);
  border-radius: 10px;
  border-bottom-right-radius: 4px;
}

.option{
  width: 75%;
  height: 2rem;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  background: linear-gradient(-290deg, #883eff, #e15ff2);
  padding: 0px 10px;
  border-radius: 10px;
  border-bottom-left-radius: 4px;
}

.option label{
  display: flex;
  justify-content: space-between;
}

.option input{
  display: inline-block;
  margin-left: 5px;
}

label p{
  font-size: 10px;
  margin-left: 12px;
  color: #fff;
}

label span{
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.chat-bair{
  position: relative;
}

.chat-bair input{
  display: block;
  width: 90%;
  height: 2rem;
  padding: 15px;
  margin: 10px auto;
  border: none;
  outline: none;
  border-radius: 15px;
}

.chat-bair button{
  position: absolute;
  right: 20px;
  bottom: 3px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #000;
  z-index: 2;
}

.chat-bair button::before{
  content: "";
  position: absolute;
  right: 8px;
  bottom: 6px;
  width: 10px;
  height: 10px;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
  border-top-color: #fff;
  border-left: none;
  border-right-color: #fff;
  border-radius: 3px;
  z-index: 2;
  transform: rotate(46deg);
}

.text{
  text-align: center;
  margin: auto;
}

.text h1{
  margin-bottom: 20px;
}

.text p{
  margin-bottom: 30px;
}

hr{
  width: 70%;
  height: 3px;
  background-color: black;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
}

.the-end{
  position: relative;
  top: 3rem;
}

.the-end footer{ 
  padding: 10px;
  font-size: 0.6875rem; 
  text-align: center;
}
.the-end footer a { 
  color: hsl(228, 45%, 44%); 
  text-decoration: none;
}

@media (min-width: 768px){
  .parent{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .phone{
    flex: 0 0 auto;
  }
  .text{
    max-width: 450px;
    text-align: left;
  }
}